<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sf.sftestforas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- sd卡读写权限 -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/robbie_icon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/robbie_icon3"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- http测试（okhttp） -->
        <activity android:name=".HttpTestActivity">
        </activity>

        <!-- AgentWeb 主activity -->
        <activity android:name="com.sf.agentweb.AgentWebMainActivity">
        </activity>

        <!-- AgentWeb -->
        <activity android:name="com.sf.agentweb.AgentWebActivity">
        </activity>
    </application>

</manifest>